
h1
{
}

p
{
  margin-top: 1em;
  margin-bottom: 0em;
  text-indent: 0.5em;
}

#original-link
{
  font-size: xx-small;
  text-align: right;
}

#body
{
}

.image
{
	text-align: center;
}

.caption
{
	text-align: center;
}
