<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= @title %></title>
  <link rel="stylesheet" type="text/css" href="../styles/asahi_com.css" media="all" />
 </head>
 <body>
  <h1><%= @title %></h1>
  <div id="original-link"><a href="<%= @url %>">原文へ</a></div>
  <hr/>
  <div id="body">
   <%= @body %>
  </div>
 </body>
</html>
