
*
{
  margin: 0;
  padding: 0;
}

body
{
  padding: 1em;
}

h1
{
/*  margin: 0.5em 0.3em;*/
  font-size: 140%;
}

#published
{
/*  margin: 0.5em 0.3em;*/
  font-size: 90%;
}

#department
{
/*  margin: 0.5em 0.3em;*/
  font-size: 90%;
}

#body
{
}

#comments
{
}

#comments ul
{
  margin: 0em 0em 0em 1em;
}
